@media (max-width: 1280px) {
    section button {
        width: 10rem;
    }

    .item-resultado {
        width: 60%;
    }
}

@media (max-width: 768px) {

    body {
        max-height: 100vh;
    }

    header h1 {
        font-size: 2.5rem;
    }

    section #campo-pesquisa {
        width: 20rem;
    }

    section button {
        width: 10rem;
    }

    .item-resultado {
        width: 30%;
    }

    .resultados-pesquisa {
        max-height: 40vh;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10%;
    }

    footer p {
        padding: 0 3rem;
        margin: 0.5rem 0;
    }

    .mensagem-erro, .mensagem-nao-existe {
        width: 30%;
        text-align: center;
        line-height: 2rem;
    }
}

@media (max-width: 468px) {
    #campo-pesquisa {
        width: 100%;
    }

    header h1 {
        font-size: 2rem;
    }

    .resultados-pesquisa {
        max-height: 35vh;
    }
}